 <div class="callout callout--primary"></div>
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to get started</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam ad iusto sapiente, nobis facilis tempora
            sed tenetur ea maxime illo quibusdam nostrum eaque expedita molestias voluptas temporibus sequi ipsum.
            Excepturi.
          </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started!</a>
      </div>
    </div>